<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>v-for</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="../vue.js"></script>
</head>
<body>
    <div id="app">
        <ul>
            <li v-for="(item, index) in items" :key="item">
                {{ parentMessage }} - {{ index }}: {{ item }}
            </li>
        </ul>
        <button @click="items.push('Trà đá')">Add new</button>
        <hr>
        <ul>
            <li v-for="person in persons">
                <div v-for="(value, key, index) in person">{{ key }}: {{ value }} ({{ index }})</div>
            </li>
        </ul>
        <span v-for="n in 10">{{ n }} </span>
        <hr>
        <template v-for="(item, index) in items">
            <h1>{{ item }}</h1>
            <p>{{ index }}</p>
        </template>
    </div>

    <script src="v-for.js"></script>
</body>
</html>